/* Global Styles */
body {
    font-family:'Times New Roman';
    margin: 0;
    padding: 0;
    background-color: #eae7f2;;
  }
  
  /* Header Styles */
  header{
    
    padding:1rem 2rem;
    font-size: 15px;
    background-color: #7a4abd;
    color: #fff;
}
.logo {
  font-size: 1.5rem;
  color:#ececec;
  text-decoration: none;
}
.photo{
    
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  border-radius: 5%; /* This makes the image circular */
  object-fit: cover; /* This ensures the image covers the area */
  border: 2px solid #ccc; /* Optional: adds a border */
 
}
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
  }
  
 
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .logout a{
    color: #fff;
    margin: 0;
    padding: 0;
    align-items: center;
    text-decoration: none;
  }
  
  
  
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #333;
  }
  
  .info-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  
  .checkbox-button{
  display: none;
  }
  
  .add-button, .drop-button, .submit-button {
    background-color:  #9b59b6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover, .add-button:hover, .drop-button:hover {
    background-color: #8e44ad ;
  }
  
  .submit {
    padding: 10px;
    text-align: center;
  }