body {
    font-family:'Times New Roman';
    background-color:#eae7f2;
}
/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    border-radius: 5%; /* This makes the image circular */
    object-fit: cover; /* This ensures the image covers the area */
    border: 2px solid #ccc; /* Optional: adds a border */
   
}

.navbar-menu {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}
.navbar-menu > div {
    position: relative;
    margin-right: 20px;
    gap: 20px;

}
.navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.navbar-menu a:hover {
    background-color: #e1e8e81e;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dce0e1;
    color: #002147;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #002147;
    padding: 8px 12px;
    display: block;
    margin-top: px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.header{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
    font-size: 15px;
    background-color: #7a4abd;
    color: #fff;
    margin-bottom: 50px;
}

.header-top .logo {
    font-size: 1.5rem;
    color:#ececec;
    text-decoration: none;
}
.contact-info span, .header-right span {
    margin-right: 15px;
}

.search-input{

        width: 200px;
        height: 20px;
        padding: 10px 10px;
        font-size: 16px;
        border: 2px solid #895ec5;
        border-radius: 5px;
        background-color: #dcd7d7;
}
.main-nav a, .user-options a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}
.arrow {
    font-size: 20px;
    margin-left: 5px;
}

.container {
    padding: 20px;
    max-width: 800px;
    height:750px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h2 {
    font-size: 24px;
    color: #4705a3;
    text-align: center;
}
ul {
    line-height: 1.6;
    margin-left: 50px;
    margin-top: 50px;
}
nav {
    margin: 10px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4705a3;
}
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
}